@{
    ViewData["Title"] = "Order";
}

<div class="wrapper vh-100">
     <div class="d-flex flex-column h-100 justify-content-center align-items-center">
             <div class="pizza_img">
             <img src="~/pngs/pizza.png" width="450" height="450" class="img-fluid" alt="Responsive image" />
             </div>
             <h1 class="text-center display-4 p-4">Ready to order some Pizza?</h1>
              <a asp-action="Order">
                <button class="btn btn-danger" type="button">START AN ORDER <i class="bi bi-basket2-fill"></i></button>
             </a>
      </div>
</div>